<section>
  <!--  Tab Navigation  -->
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href="thing-url" ng-click="tab.setTab(1)">url</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href="thing-image" ng-click="tab.setTab(2)">image</a>
    </li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href="thing-author" ng-click="tab.setTab(3)">author</a>
    </li>
  </ul>
  <!--  Description Tab's Content  -->
  <url ng-show="tab.isSet(1)"></turl>
  <!--  Spec Tab's Content  -->
  <thing-image ng-show="tab.isSet(2)"></thing-image>
  <!--  Review Tab's Content  -->
  <author ng-show="tab.isSet(3)">hi</reviews>
</section>